@import "materialize"

body
  background: pink
  nav
    background: rgba(255,255,255,0.5)
    .button-collapse
      color: $primary-color
    .brand-logo
      color: $primary-color
  .navbar-fixed
    position: fixed
  #home
    background: white
    height: 100vh
    text-align: center
    h1
      color: $accent
      margin: 0
      padding: 30vh 0 0
    p
      max-width: 50%
      margin: 2rem auto 3rem
    .call-to-action
      font-size: 1.5rem
      color: white
      padding: 1rem 3rem
      border-radius: 2rem
      background-image: linear-gradient( to right, $accent, $accent-dark)
